<div class="nav_section">
  <div class="logo">
    <a class="logo-flex" href="#">
      <img class="logo-img" src="images/main-logo.png" alt="logo" />
      <span>Dashboard</span>
    </a>
  </div>

  <nav class="nav">
    <ul class="nav_list">
      <li class="nav_item">
        <a
          href="/backHome"
          class="nav_link flex_box <%= currentPage === 'home' ? 'active' : '' %>"
        >
          <ion-icon
            name="grid-outline"
            role="img"
            class="md hydrated"
          ></ion-icon>
          <span class="nav_text">Home</span>
        </a>
      </li>
      <li class="nav_item">
        <a
          href="/show_customers"
          class="nav_link flex_box <%= currentPage === 'customers' ? 'active' : '' %>"
        >
          <ion-icon
            name="people-outline"
            role="img"
            class="md hydrated"
          ></ion-icon>
          <span class="nav_text">Customers</span>
        </a>
      </li>
      <li class="nav_item">
        <a
          href="/show_books"
          class="nav_link flex_box <%= currentPage === 'books' ? 'active' : '' %>"
        >
          <ion-icon
            name="book-outline"
            role="img"
            class="md hydrated"
          ></ion-icon>
          <span class="nav_text">Books</span>
        </a>
      </li>
      <li class="nav_item">
        <a
          href="/orders"
          class="nav_link flex_box <%= currentPage === 'orders' ? 'active' : '' %>"
        >
          <ion-icon
            name="cube-outline"
            role="img"
            class="md hydrated"
          ></ion-icon>
          <span class="nav_text">Orders</span>
        </a>
      </li>
      <li class="nav_item">
        <a
          href="/show_requestedBooks"
          class="nav_link flex_box <%= currentPage === 'request' ? 'active' : '' %>"
        >
          <ion-icon
            name="send-outline"
            role="img"
            class="md hydrated"
          ></ion-icon>
          <span class="nav_text">Request Books</span>
        </a>
      </li>
      <li class="nav_item">
        <a
          href="/show_feedbacks"
          class="nav_link flex_box <%= currentPage === 'feedback' ? 'active' : '' %>"
        >
          <ion-icon
            name="mail-outline"
            role="img"
            class="md hydrated"
          ></ion-icon>
          <span class="nav_text">Feedback</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="profile_container">
    <div class="flex_box">
      <div class="profile__img_box">
        <img src="images/pngwing.com.png" alt="" class="profile_img" />
      </div>
      <div class="profile-text">
        <h4>Bruce Wayne</h4>
        <span>admin@booksaw.com</span>
      </div>
    </div>
    <div class="logout-side">
      <a href="/logout_admin">
        <ion-icon
          name="log-out-outline"
          role="img"
          class="md hydrated"
        ></ion-icon>
      </a>
    </div>
  </div>
</div>
